span {
  text-shadow: yellow 0 0 3px, green 4px 4px 10px;
}

.figureImage {
  width: 350px;
  max-width: 100%;
  height: auto;
  padding: 120px;
}

.navBarDiv {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: stretch;
}

.navBar {
  height: 10px;
  display: flex;
  /* height: auto; */
}

.navBar a {
  display: flex;
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 30px;
  padding: 100px;
}

.navBar div:hover {
  background-color: rgb(14, 230, 230);
}

.introductionAli {
  color: white;
  display: flex;
  justify-content: center;
}
.introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  align-items: stretch;
}

.familyName {
  color: aliceblue;
  padding: 20px;
  font-size: 70px;
}
.homePage {
  /* background-color: Navy; */
  background-image: url("bg.jpg");
}

.figureImage1 {
  display: flex;
  width: 100%;
  padding: -20px;
}
