span {
  text-shadow: yellow 0 0 3px, green 4px 4px 10px;
}

.navBarDiv {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}

.navBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  top: 65px;
}

.navBar a {
  display: flex;
  color: deeppink;
  text-decoration: none;
  font-size: 30px;
  padding: 65px;
  justify-content: space-around;
  transform-origin: bottom left;
  transform: rotate(-90deg) translateY(100%);
  margin: 20px;
}

.GitLinkedIn {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: -50px;
  left: 0;
  padding: 75px;
}

.navBar a:hover {
  text-decoration: underline;
}

.navBar img:hover {
  text-decoration: underline;
}

.introductionAli {
  color: white;
  display: flex;
  justify-content: center;
}
.introText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  align-items: stretch;
}

.familyName {
  color: aliceblue;
  padding: 20px;
  font-size: 50px;
}
/* .homePage {
  background-image: url("bg.jpg");
} */

.figureImage1 {
  display: flex;
  width: 100%;
}

.figureImage {
  width: 350px;
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
  position: relative;
}

.figureImage:hover {
  transform: scale(1.2);
}

/* .navPlusLogos {
  display: flex;
  flex-direction: column;
  padding: 75px;
  position: fixed;
} */
